@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

html {
    font-family: "Open Sans";
}

* {
    margin: 0;
}

.base-container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #FFF;
}

.three-box {
    margin-top: 100px;
    margin-bottom: 192px;
    display: flex;
    justify-content: center;
    gap: 30px
}

.box-item {
    padding: 40px 42px 25px 29px;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.box_title {
    color: #000;
    margin-top: 25px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.box_text {
    margin-top: 17px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.box_more {
    padding: 0;
    margin-top: 25px;
    background-color: #FFFFFF;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    border: none;
    border-style: none;
}

.choose-box-color {
    background-color: #FAFAFA;
}

.choose-box {
    margin-top: 92px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 54px
}

.choose-box-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px
}

.choose-box-up__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
}

.choose-box-up__text {
    max-width: 682px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.choose_box_items {
    display: flex;
    gap: 30px;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.choose_box_item {
    width: 350px;
    padding: 0px 30px 50px;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.item_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item_wrapper__title {
    margin-top: 30px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.item_wrapper__text {
    margin-top: 22px;
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.item_wrapper__button {
    margin-top: 39px;
    padding: 15px 36px 16px 35px;
    border-radius: 50px;
    background-color: #F25822;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-weight: 400;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: center;
    font-size: 13px;
    line-height: 150%;
}