@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

html {
    font-family: "Open Sans";
}

* {
    margin: 0;
}

body {
    background-color: #FFF;
}

.base-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.menu_bar {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.menu {
    padding: 0;
    display: flex;
    gap: 36px;
    list-style: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.menu_features {
    display: flex;
    gap: 3px;
}

.intro {
    margin-top: 89px;
    display: flex;
    gap: 40px;
}

.intro-title {
    width: 522px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
}

.intro-text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
    width: 466px;
}

.button-meta {
    margin-top: 37px;
    display: flex;
    gap: 72px;
}

.intro-button {
    padding: 15px 36px 16px 35px;
    border-radius: 50px;
    background-color: #F25822;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.intro-video {
    background-color: #FFFFFF;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.logos {
    margin-top: 162px;
    padding: 97px 0px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}