* {
    margin: 0;
}

body {
    margin: 0;
}

.form-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-reg__input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.form-reg__input:focus {
    outline: 1px solid red;
}

.form-registration::before {
    content: "egftet";
}

.checkbox {
    position: relative;
}

.checkbox input {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
}

.checkbox__text {
    position: relative;
}

.checkbox__text::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 50px;
    width: 50px;
    height: 26px;
    border-radius: 15px;
    background-color: grey;
}

.checkbox__text::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 52px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: red;
    transition: 0.5s;
}

.checkbox input:checked+.checkbox__text::before {
    background-color: yellow;
}

.checkbox input:checked+.checkbox__text::after {
    left: 76px;
}