@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Italic.ttf");
    font-weight: 100;
}

html {
    font-family: "Open Sans";
}

* {
    margin: 0;
}

body {
    background-color: #020A18;
}

ul {
    padding: 0;
}

header {
    background-color: #020b1b;
}

.base-container {
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    list-style: none;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.intro {
    display: flex;
    margin-top: 160px;
    gap: 128px;
}

.intro-upper-title {
    color: #3A68B8;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.intro-title {
    color: #FFF;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}

.intro-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    max-width: 550px;
}

.intro-button {
    display: flex;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #3A68B8;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    gap: 10px;
}

.intro-button-wrapper {
    display: flex;
    gap: 20px;
}

.logos {
    margin-top: 197px;
    display: flex;
    justify-content: space-between;
}

.megamind {
    display: flex;
    align-items: center;
    gap: 68px;
    margin-top: 256px;
}

.megamind-title {
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}

.megamind-text {
    color: #FFFFFF;
    margin-top: 30px;
    max-width: 460px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.7;
}

.megamind-button {
    color: #FFF;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #3A68B8;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 264px;
}

.block-item {
    padding: 30px;
    border-radius: 10px;
    background-color: #132035;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.block-4 {
    grid-row: span 2;
    grid-column: span 2;
    gap: 60px;
}

.block-title {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}

.block-text {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.footer-container {
    background-color: #020b1b;
}

.footer {
    margin-top: 221px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 250px;
    align-content: center;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 33px
}

.footer-item-information {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 26px
}

.footer-social__item {
    display: flex;
    gap: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.footer-item-about__text {
    width: 261px;
    color: #FFF;
    opacity: 0.6;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
}

.footer-social__www {
    width: 261px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.footer-social__icon {
    display: flex;
    gap: 24px;
}

@media (max-width: 1439px) {
    .base-container,
    .centerV2 {
        max-width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }
    .intro,
    .megamind {
        flex-direction: column;
        align-items: center;
    }
    .intro-upper-title {
        font-size: 16px;
    }
    .intro-title {
        font-size: 48px;
    }
    .logos {
        flex-wrap: wrap;
        max-width: 540px;
        gap: 32px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .megamind-right {
        max-width: 484px;
        align-items: center;
    }
    .blocks {
        grid-template-columns: 1fr;
    }
    .block-4 {
        display: none;
    }
    .block-item {
        max-width: 362px;
    }
}